@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
html{
    scroll-behavior: smooth;
    background: #ed8975;
}
body {
    font-family: 'Alice', serif;
}
a {
    text-decoration: none;
}
.mobile-header-cont {
    width: 100%;
    background-color: #f2d096;
    padding: 10px 0;
    .mobile-header {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .mobile-logo {
            width: 76px;
            height: 90px;
            > img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .mobile-logo:hover {
            cursor: pointer;
        }



        .mobile-drop-cont {
            position: absolute;
            top: 100px;
            width: 100%;
            display: none;
            .mobile-drop {
                width: 100%;
                .mobil-drop-child {
                    width: 100%;
                    background-color: #b2e7e8;
                    padding: 10px;
                    > p {
                        color: white;
                        text-align: center;
                    }
                }
            }
        }
    }
}

#check-logo {
    display: none;
}
#check-logo:checked ~ .mobile-drop-cont {
    display: block;
}
@media screen and (min-width: 650px) {
    .mobile-header-cont {
        display: none;
    }
}
// <!-- --------------------mobile header end -------------------------------- -->

// <!-- --------------------desktop header start -------------------------------- -->
nav{
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, rgba(237,137,117,1) 0%, rgba(242,208,150,1) 91%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 10%;
    padding-top: 5px;
}
.logo img{
    width: 80%;
}
.but{
    width: 120px;
    height: 40px;
    background: #b2e7e8;
    text-align: center;
    padding-top: 10px;
}
.but a{
    border: none;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    width: 120px;
    height: 40px;
}
.but:hover{
    border: #11111150 1px solid;
    color: #11111150;
    cursor: pointer;
}
.logo:hover{
    cursor: pointer;
}        
@media screen and (max-width: 650px) {
    nav {
        display: none;
    }
}
// <!-- --------------------desktop header start -------------------------------- -->
.hooson {
    width: 100%;
    height: 85vh;
    background-image: url(../images/pexels-los-muertos-crew-8477969.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 160px;
}
.hooson h1{
    color: #fff;
    font-size: 100px;
}
.hooson p{
    color: #ffffff;
    font-size: 40px;
    padding-top: 40px;
}
@media screen and (max-width: 650px) {
    .hooson {
        height: 83vh;
    }
}
// <!-- ---------------------page 1 start -------------------------------- -->

.page-1-cont {
    width: 100%;
    // margin-bottom: 30px;
    .page-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 20px;
        background-color: #FFFFFF90;
        .page-1-child {
            position: relative;
            width: 100%;
            .page-1-img {
                width: 100%;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .hover-appear {
                // width: 280px;
                // height: 280px;
                width: 90%;
                height: 90%;
                background-color: rgba(29, 26, 25, 0.6);
                border-radius: 50%;
                position: absolute;
                // top: 70px;
                // left: 35px;
                // right: 0;
                // bottom: 0;
                top: 1%;
                right: 1%;
                bottom: 1%;
                left: 1%;
                display: none;
                color: white;
                margin: auto;
                h2 {
                    color: white;
                }
                .zuraas {
                    width: 70%;
                    height: 2px;
                    background-color: white;
                }
                p {
                    font-family: 'Sacramento', cursive;
                }
                p:hover {
                    color: #f2d096;
                }
            }
            .page-1-img:hover ~ .hover-appear {
                display: flex;
                flex-direction: column ;
                align-items: center;
                text-align: center;
                justify-content: center ;
                padding: 25px;
                gap: 15px;
                box-shadow: 0 0 5px 5px pink;
            }
            .hover-appear:hover {
                display: flex;
                flex-direction: column ;
                align-items: center;
                text-align: center;
                justify-content: center ;
                padding: 25px;
                gap: 15px;
                box-shadow: 0 0 5px 5px pink;
            }
        }
    }
}

.page-1-child:hover {
    cursor: pointer;
}
@media screen and (min-width: 353px) and (max-width: 550px) {
    .hover-appear {
        width: 280px !important;
        height: 280px !important;
    }
}
@media screen and (min-width: 550px) and (max-width: 700px) {
    .hover-appear {
        width: 70% !important;
        margin: auto;
    }
    .page-1-img {
        height: 400px;
    }
    .hover-appear {
        width: 280px !important;
        height: 280px !important;
    }
}

@media screen and (min-width: 700px) {
    .page-1 {
        flex-direction: row !important;
    }
    .page-1-img {
        height: 290px !important;
    }
}
@media screen and (min-width: 1100px) {
    .page-1-cont {
        padding: 40px 80px 0 80px;
    }
    .page-1-img {
        height: 455px !important;
    }
}
@media screen and (min-width: 1173px) {
    .hover-appear {
        width: 280px !important;
        height: 280px !important;
    }
}
@media screen and (max-width: 480px) {
    .hooson h1 {
        font-size: 38px;
    }
}
// <!-- ---------------------page 1 end -------------------------------- -->

// <!-- ---------------------footer-start -------------------------------- -->

@media (min-width: 784px) {
    .footer {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .contact, .address {
        flex-direction: column;
    }
    .cont-text p {
        width: 90% !important;
    }
    .cont-header i {
        margin-bottom: 15px;
    }
}
.footer {
    width: 100%;
    max-width: 100%;
    background: linear-gradient( 90deg, #ed8975 0%, #f2d096 91%);
    padding: 10px;
    overflow: hidden;
    // margin-top: 40px;
    .contact {
        width: 100%;
        max-width: 100% !important;
    }
    .address {
        width: 100%;
    }
    .cont {
        width: 100%;
    }
}
.cont-header i {
    margin-right: 16px;
    width: 46px;
    height: 46px;
    background-color: #ed8975;
    border-radius: 50%;
    line-height: 46px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.address, .contact {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.cont h3 {
    color: #304d63;
    font-size: 20px;
    margin-bottom: 10px;
}
.cont-text {
    margin-right: 40px;
    font-size: 14px;
    color: #304d63;
}
.cont-text p {
    width: 250px;
}

// -----------------------animation start----------------------

@keyframes text{
    0%{
        transform:scale(1, 1);
    }

    50%{
        transform: scale(1.4, 0.5);
    }
    60%{
        transform: scale(0.7, 1.4)
    }
    70%{
        transform: scale(1.2, 0.8);
    }
   80%{
        transform: scale(0.9, 1.1)
    }
    90%{
        transform: scale(1.05, 0.9);
    }
    100%{
        transform: scale(1, 1)
    }
} 

span:hover {
    animation: text 1s 1;
    cursor: pointer;
}
span {
    display: inline-block;
    letter-spacing: 0;
}

// -----------------------animation end----------------------

// -----------------------about-us----------------------
.ab-cont {
    // background: linear-gradient( 90deg, #ed8975 10%, #f2d096 80%);
    // background-color: #fff;
    // border-bottom: 1px solid #ed8975;
}
.ab-cont h3 {
    font-size: 36px;
    color: transparent;
    text-align: center;
    padding: 10px 0;
}
.ab-cont p {
    padding: 10px;
    font-size: 16px;
    color: transparent;
    text-align: center;
}
.ab-img img{
    width: 100%;
    object-fit: contain;
    
}
.ab-img {
    position: relative;
}
.text {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text:hover {
    background-image: linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,0.8) 100%);
}
.text:hover h3 {
    color: #304d63;
}
.text:hover p {
    color: #000;
}
